apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myweb
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/nobreak-labs/argocd-myweb.git
    targetRevision: main
    path: kustomize-myweb
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
